<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LexmarkServicesPunchout</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>LexmarkServicesPunchout</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context/applicationContext.xml</param-value>
  </context-param>
  
   <servlet>
    <servlet-name>ViewRendererServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRendererServlet</servlet-name>
    <url-pattern>/WEB-INF/servlet/view</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>punchout</servlet-name>
		<servlet-class>com.lexmark.servlet.PunchoutSetup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>punchoutcatalog</servlet-name>
		<servlet-class>com.lexmark.servlet.PunchOutSetupResponse</servlet-class>
	</servlet>
  <servlet-mapping>
		<servlet-name>punchoutcatalog</servlet-name>
		<url-pattern>/punchoutcatalog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>punchout</servlet-name>
		<url-pattern>/punchout</url-pattern>
	</servlet-mapping>
  
 <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>