.popup-alert-notice .popup-alert-close {
    margin-left: 1em;
}

body {
	background: #c3c3c3 !important;
	font-size:12px;
	font-family: Arial, Verdana,sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#headerMenuButton{
	text-decoration: none;
	}

#headerMenuButton:hover{
	text-decoration: underline
	}


#top-header a, #bottom-header a, #footer a{
	text-decoration: none !important;
}

#top-header a:hover, #bottom-header a:hover, #footer a:hover{
	text-decoration: underline !important;
}

div.clear {
	clear:both;
	margin:0;
	padding:0;
	height: 0;
}

#wrapper {
	margin: 0px auto;
	display:table;
	background:  url(../images/custom/header-narrow.png) no-repeat top left !important;
	padding: 0;
	width: 95%;
	min-width: 1024px;
}
#banner {
	background:  url(../images/custom/headerRight-narrow.png) no-repeat top right !important;
	padding: 0;
	height: 50px;
	margin: 0 !important;
	position:relative
}
#banner h1{top:0 !important;}
#banner .logo {
	top: 1px !important;
	background: url("/LGS_Partner_Portal_Rebranded-theme/docroot/images/custom/logoLex.png") no-repeat scroll left top transparent !important;
	display: block;
	margin: 0;
	padding: 0 !important;
	width: 168px !important;
	height: 44px !important;
	position: absolute;
	left: 20px;
	text-indent: -9999em;
}
#banner .logo a {
	display: block;
	font-size: 0;
	text-indent:0 !important;
	width: 170px !important;
	height: 44px !important;
}

#lexmark-language-select select { 
    padding: 0;
}

.js .interactive-mode {
	background: transparent none;
	position: static !important;
	right: auto;
	top: auto;
	padding: 3px 0 0 0 !important;
	min-width: 0 !important;
	float: none !important;
}

.js .interactive-mode h2,
.js .interactive-mode h2 span {
	/* remove image	*/
	background-image: none !important;
}

.js .interactive-mode h2 {
	padding: 0 0 0 0 !important;
}

.js .interactive-mode h2 span {
	border-right: 0;
	color: #000;
	display: block;
	height: auto;
	line-height: auto;
	padding: 0 !important;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	margin: 0 0 0 30px;
}
#page-search {
	top: 15px;
	position: absolute;
	right: 50px;
}

#top-header {
	top: 0;
	position: absolute;
	right: 20px;
	background: none;
	height: 20px !important;
	padding: 0!important;
	margin: 0 !important;
	z-index: 99;
}

#top-header-navigation {
	background: none;
	height: 20px !important;
	padding: 0 !important;
	margin: 0 !important;
}

#top-header-navigation  ul {
	padding: 3px 0 0 0 !important;
	margin: 0 !important;	
}

* html #top-header-navigation  ul {
	float: right;
}

#top-header-navigation li {
	list-style: none;
	float: left;
	padding: 0 5px;
	position: static !important;
	background:  url(../images/custom/dottedVert.gif) no-repeat left center !important;
}	
#top-header-navigation li:first-child {
	background: none !important;
}

#top-header-navigation ul.lfr-dock-list {
	background: #fff !important;
	overflow: hidden !important;
	z-index: 99;
	position: absolute;
}

#bottom-header {
	position: absolute;
	right: 20px;
	z-index: 1;
}
#bottom-header-navigation li {
	list-style: none;
	display: inline;
	padding: 0 5px;
	background:  url(../images/custom/dottedVert.gif) no-repeat left center !important;
}

#bottom-header-navigation li:first-child {
	background: none !important;
}
	
#footer-nav-container li, #footerNav li, #footer-navigation li {
	list-style: none;
	display: inline;
	padding: 0 5px;
}	

#topnavigation {
	/*width: 95%; */
	font-size: 14px !important;font-weight: bold !important;
	width: 100%;
	margin: 1px 0 0 0!important;
	padding: 0 !important;
	height: 37px;
	background: url(../images/custom/navLeftNew.png) no-repeat top left !important;
}	

 #topnavigation li, #add-page {
	float: left;
}

#topnavigation ul {
	margin: 0 !important;
	padding: 3px 0 0 6px !important;
	background: url(../images/custom/navRightNew.png) no-repeat top right !important;
	display: block;
	height: 37px;
	}

#topnavigation li {
	font-weight: bold !important;
	list-style: none;
	background: transparent url(../images/custom/tabRightNew.png) no-repeat top right;
	margin: 0 8px 0 0;
	}
#topnavigation ul li span{font-size: 14px !important;font-weight: bold !important;color: #333;}
#topnavigation li a:link,#topnavigation li a:visited,#topnavigation li a:hover {
	display: block;
	padding: 0 15px;
	line-height: 34px;
	margin: 0 0 0 -6px;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	background: transparent url(../images/custom/tabLeftNew.png) no-repeat top left;
}	

* html #topnavigation li a:link,* html #topnavigation li a:visited,* html #topnavigation li a:hover {
	margin: 0;
	float: left;
	background:  url(../images/custom/tabLeftNew.png) no-repeat top left;
}

#topnavigation li.selected {
	background: url(../images/custom/tabRightOn.gif) no-repeat top right;
}

#topnavigation li.selected a {
	font-size: 14px;
    font-weight: bold !important;
    line-height: 34px;
	color: #333;
	background: url(../images/custom/tabLeftOn.gif) no-repeat top left;
}	

* html #topnavigation li.selected a {
	background: url(../images/custom/tabLeftOn.gif) no-repeat top left !important;
	margin:0;
	}
	
/*	
	
#topnavigation a,
#topnavigation .enter-page {
	margin:0;
	padding: 0;
	text-decoration: none;
	text-transform: capitalize;
}

#topnavigation a:hover {
}

#topnavigation .selected a {
}

#topnavigation .save-page,
#topnavigation .save-page:hover {
	background: none;
	border: 0;
	display: inline;
	float: none;
	padding: 4px;
}

#topnavigation .cancel-page {
	display: none;
}

#topnavigation input[type="text"] {
	padding: 1px;
}


*/


#navigation {
	background: none !important;	
	height: 41px !important;
	padding: 0 !important;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a,
#navigation .enter-page {
	color: #000;
	display: block;
	float: left;
	font: 13px/25px Lucida Sans Unicode,Lucida Grande,sans-serif;
	padding: 1px 12px;
	text-decoration: none;
}

#navigation a:hover {
	background: #FFF;
	padding: 0 11px;
}

#navigation .selected a {
	color: #EE3B33; font-weight: bold;
	padding: 0 11px;
}

#navigation .save-page,
#navigation .save-page:hover {
	background: none;
	border: 0;
	display: inline;
	float: none;
	padding: 4px;
}

#navigation .cancel-page {
	display: none;
}

#navigation input[type="text"] {
	padding: 1px;
}
#content-wrapper {
	background: #fff!important;
	padding: 0 0 20px 0 !important;
	border-left: #9998a1 1px solid;
	border-right: #9998a1 1px solid;
	border-bottom: #9998a1 1px solid;
	border-radius-bottomleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottomleft: 5px; 
	border-radius-bottomright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottomright: 5px; 
	-pie-lazy-init:true;
	zoom:1;
}

* html #content-wrapper {
	margin-top:  -2px;
}

.ie #content-wrapper {
	zoom: 1;
}

#column-1 {
	border-right: 0 none;
}
.portlet {
	margin: 0 0 28px;
}

.portlet-topper {
	border-bottom: 0 none;
	padding-left: 24px;
	padding-top: 10px;
	line-height: 24px;
}

.portlet-title {
	font-size: 12px;
}

.firefox .portlet-title img, .safari .portlet-title img {
	margin-top: -2px;
}

.ie .portlet-title img {
	padding-top: 1px;
}

.portlet-icons {
	right: 0;
}

.portlet-content {
	padding: 10px;
}
.portlet-calendar .calendar-day .day-text,
.results-header {
	background-color: #D9E1EC;
}

.portlet-calendar .calendar-day .day-text,
.results-header th,
.results-header td {
	color: #000;
}
.ui-tabs {
	border-bottom: 1px solid #2B5A79;
}

.ui-tabs li {
	background: url(../images/custom/tabs_bg.png) no-repeat left -100px;
	margin: 0 9px 0 0;
}

.ui-tabs li a,
.ui-tabs li a:hover,
.ui-tabs li span,
.ui-tabs li span:hover {
	background: url(../images/custom/tabs_bg.png) no-repeat right -300px;
	border: 0;
	height: 10px;
	padding: 8px 12px;
	text-decoration: none;
	top: 0;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
	color: #FF0;
}

.ui-tabs li.current,
.ui-tabs li.current:hover {
	background: url(../images/custom/tabs_bg.png) no-repeat left top;
}

.ui-tabs li.current a,
.ui-tabs li.current a:hover,
.ui-tabs li.current span,
.ui-tabs li.current span:hover {
	background: url(../images/custom/tabs_bg.png) no-repeat right -200px;
	border: 0;
	color: #FFF;
}

/* custom styles */




#top-level-navigation {
    height: 22px; 
    width: 100%;
    min-width: 1024px;
    margin: 0;
    border: none;
    padding: 0 0 1px 0;
    background: url(/LGS_Partner_Portal_Rebranded-theme/images/custom/navbar.png) repeat-x top;
}

#top-level-navigation ul {
    list-style: none outside none;
    margin: 0;
}

#top-level-navigation ul li {
    float: left;
    list-style: none outside none;
    margin-left: 1em;
    padding-top: 3px;
    padding-bottom: 0px;
}
#top-level-navigation ul li.selected {
    padding-top: 1px;
    border-top: 2px solid #DE0029;
}

#top-level-navigation ul li a {
    color: #303030;
    font-size: 12px;
    padding: 2px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Verdana, sans-serif;
}
#top-level-navigation ul li.selected a {
    font-weight: bold;
    color: black;
}

#top-level-navigation li .popup {
    display: none;
    position: absolute;
    z-index: 10;
    margin: 0 !important;
    padding: 0;
    top: 22px;
    border: 1px solid #808080;
    border-top: none;
}
#top-level-navigation li .popup a {
    background: url(/LGS_Partner_Portal_Rebranded-theme/images/custom/navbar.png) repeat-x bottom;
    margin: 0;
} 

#top-level-navigation ul li a:hover {
    text-decoration: underline;
}

#top-level-navigation #community-selector a {
    padding-right: 0;
}

#top-level-navigation a#community-selector-chevron {
    padding: 0 .5em;
    top: -1px;
    position: relative;
    text-decoration: none;
}

#top-level-navigation .popup li {
    list-style: none !important;
    margin: 0;
    padding: 0 !important;
    clear: left;
}

#top-level-navigation .popup a {
    text-transform: none;
    text-decoration: none !important;
    font-weight: normal !important;
    display: block;
    padding: 1px 1em;
    margin: 0;
    width: 100px;
    height: 20px;
}

#top-level-navigation a {
    color: white;
}

#top-header a, #top-header span{
    color: #202020;
}

#top-level-navigation .popup a:hover {
    background: #e8e8e8 url("/LGS_Partner_Portal_Rebranded-theme/images/custom/dottedVert.gif") no-repeat left center !important;
    text-decoration: none !important;
}

div#lexmark-language-select {
	margin-left: 20px;
	top: 13px;
}


/* leftNav Styles Start */

table.leftNav {
	background: #fff url(../images/custom/leftNavVertBorder.png) repeat-y top left;

}

table.leftNav  tbody {
	background: transparent url(../images/custom/leftNavVertBorder.png) repeat-y top right;
}

table.leftNav  tbody table tbody{
	background: none;
}

tr.leftNavTop td {
	height: 29px;
}

	tr.leftNavTop td.leftNavTopLeft {
	background: transparent url(../images/custom/leftNavTopLeft.png) no-repeat top left;
	width: 16px;
	}
	
	tr.leftNavTop td.leftNavTopTitle {
	background: transparent url(../images/custom/leftNavTopTile.png) repeat-x top left;
	color:#333;
	font-size:11px;
	line-height: normal;
	font-weight: bold;
	}
	tr.leftNavTop td.leftNavTopRight {
	background: transparent url(../images/custom/leftNavTopRight.png) no-repeat top right;
	width: 10px;
	}
	
tr.leftNavBottom td {
	height: 20px;
}	
	tr.leftNavBottom td.leftNavBottomLeft{
	background: transparent url(../images/custom/leftNavBottomLeft.png) no-repeat bottom left;
	}
	tr.leftNavBottom td.leftNavBottomTile {
	background: transparent url(../images/custom/leftNavBottomTile.png) repeat-x bottom left;
	}
	
	tr.leftNavBottom td.leftNavBottomRight {
	background: transparent url(../images/custom/leftNavBottomRight.png) no-repeat bottom right;
	}
/* leftNav Styles End */

/* gridWrap Styles START */

table.gridWrap {
}

table.gridWrap td.gridWrapTopLeft,table.gridWrap td.gridWrapTopRight{
	width: 8px;
	height: 30px;
	background: transparent url(../images/custom/gridWrapTopLeft.png) no-repeat left top;
	padding:0;
	margin:0;
}
	table.gridWrap td.gridWrapTopRight{
	background: transparent url(../images/custom/gridWrapTopRight.png) no-repeat right top;
	}
table.gridWrap td.gridWrapTopMiddle{
	background: transparent url(../images/custom/gridWrapTopMiddle.png) repeat-x left top;
	height: 30px;
	padding:0;
	margin:0;
	}
	
table.gridWrap td.gridWrapMiddleLeft{
	background: transparent url(../images/custom/gridWrapMiddleLeft.png) repeat-y left top;
	}	

table.gridWrap td.gridWrapMiddleRight{
	background: transparent url(../images/custom/gridWrapMiddleRight.png) repeat-y right top;
	}

table.gridWrap td.gridWrapBottomLeft,table.gridWrap td.gridWrapBottomRight{
	height: 5px;
	background: transparent url(../images/custom/gridWrapBottomLeft.png) no-repeat left bottom;
}
	table.gridWrap td.gridWrapBottomRight{
	background: transparent url(../images/custom/gridWrapBottomRight.png) no-repeat right bottom;
	}
	
table.gridWrap td.gridWrapBottomMiddle{
	height: 5px;
	background: transparent url(../images/custom/gridWrapBottomMiddle.png) repeat-x left bottom;
}
	
table.gridWrap td.gridWrapTopMiddle  h3 {
	color: #fff;
	padding: 0;
	text-indent: 10px;
	margin: 0;
	line-height: 30px;	
}	
	
/* gridWrap Styles END */


/* notification bar styles START */

div.notification-bar {
	margin:0;
	padding:0;
	background: url(../images/custom/notification_topleft.png) no-repeat top left;
}
div.notification-inner {
	margin:0;
	padding: 0 15px;
	background: url(../images/custom/notification_topright.png) no-repeat top right;
}

div.notification-footer {
	margin:0;
	padding:0;
	background: url(../images/custom/notification_bottomleft.png) no-repeat bottom left;
	height:7px;
	clear: both;
}

div.notification-footer-inner {
	margin:0;
	padding:0;
	background: url(../images/custom/notification_bottomright.png) no-repeat bottom right;
	height:7px;
}

*html  div.notification-footer-inner {
	height: auto;
	padding: 7px 0 0 0;
}

div.notification-bar span#linkHere {
	margin-left:5px;
}

div.notification-bar div.paginate {
	float:right;
	margin:0;
	padding:0;
	position: relative;
	top: 15px;
}

div.notification-bar div.notification-content {
	float: left;
	margin:0;
	padding:0;
	clear: none;
}
div.notification-bar p {
	font-size: 16px;
	float: left;
	line-height: normal;
	margin: 0;
	padding: 20px 0 10px 0;
	font-family: Arial,Verdana,sans-serif;
}

/* notification bar styles END */

/* styles from Templates START */
/*

Lexmark Template Styles
10.19.2010

*/

body {
	background: #c3c3c3;
	color: #333;
	font-family: Arial,Verdana,sans-serif;
}

a {
	text-decoration: none;
	color: #336699;
}

dl,dt,dd {
	margin: 0;
	padding: 0;
}


div.generic-button {
	background: url(../images/custom/button-right.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	float: left;
}
	div.right-button {
	float: right;
	}

div.generic-button a,div.generic-button button {
	background: url(../images/custom/button-left.gif) no-repeat top left;
	border: 0 none;
	margin: 0;
	padding: 0 17px;
	display: block;
	line-height: 25px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}


div.generic-button button {
	height: 25px;
	}


div.main-wrap {
	padding: 3px;
	margin: 0;
	background: #fff;
	overflow: hidden;
	border: 0px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-pie-lazy-init:true;
	zoom:1;
}
div.content {
	padding: 10px 10px 10px 10px;
	background: url(../images/custom/content-bg.png) repeat-x top left;
}

div.banner-wrap {
	height: 76px;
	background: url(../images/custom/banner-tile.png) repeat-x top left;
	margin-bottom: 4px;
}

div.banner-wrap h2 {
	font-family: Helvetica,Verdana,Arial, sans-serif;	
	font-size: 24px;
	font-weight: lighter;
	color: #fff;
	position: absolute;
	padding: 27px 0  0 20px;
	letter-spacing: 1px;
	margin: 0;
}
	
div.banner-wrap img {
	float: right;
}

/* portlet Styles START */

div.right-column {
	margin: 0 0 0 215px;
	padding: 0;
	vertical-align: top;
}

div.portlet-wrap a:hover {
	text-decoration: underline;
	}
	
div.portlet-wrap a.show,div.portlet-wrap a.hide {
	background: url(../images/custom/plus.gif) no-repeat left center;
	padding: 0 0 0 25px;
	line-height: 20px;
	margin-top: 20px;
	display: block;
	float: left;
	clear: both;
	}

div.portlet-wrap div.status-block a.show,div.portlet-wrap div.status-block a.hide {
	margin: 0 0 20px 0;
	clear:both;
	}

div.portlet-wrap a.hide {
	background: url(../images/custom/minus.gif) no-repeat left center;
}

div.portlet-wrap {
	overflow: hidden;
	font-size: 12px;
	margin:0 0 12px 0;
	padding: 0;
	font-family: Arial,Verdana,sans-serif;
	background: url(../images/custom/portlet-borderright.png) repeat-y top right;
}

*html div.portlet-wrap {
	margin: 0;
	width: 99%;
	}

div.portlet-wrap-inner {
	margin: 0;
	padding: 0 5px 20px 5px;
	overflow-x: auto;
	overflow-y: hidden;
	background: url(../images/custom/portlet-borderleft.png) repeat-y top left;
	float:left;
	width:100%;
	*margin-left:1px;
}

* html div.portlet-wrap-inner {
	padding: 0 5px 20px 5px;
	/* --float: left; -- */
	}

div.portlet-header {
	background: url(../images/custom/portlet-topleft.png) no-repeat top left;
	height: 30px;
	margin: 0;
	padding: 0;}


div.portlet-header h3 {
	background: url(../images/custom/portlet-topright.png) no-repeat top right;
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 37px;
	text-indent: 15px;
	color: #fff;
	font-weight: normal;
	}	
	
* html div.portlet-header h3 {	
	line-height: 30px;
}

div.portlet-wrap div.grid-controls {
	padding: 10px 0;
	overflow: hidden;
}

* html div.portlet-wrap div.grid-controls {

	}
	
div.utilities {
	float: left;
	margin: 0;
	padding: 0;
}

div.sr-header div.utilities {
	clear: left;
	position: relative;
	top: 10px;
	margin-left: 10px;
}

div.utilities ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	margin-left: 5px;
	}
	
div.utilities ul li {
	margin: 0;
	padding: 0 12px;
	float: left;
	display: block;
	height: 22px;
	background: url(../images/custom/vert-border.png) no-repeat left center;
	}	

div.utilities ul li.first {
	background: none;
	padding: 0 12px 0 0;
}

div.utilities ul li img {
	border: 0 none;
	vertical-align: middle;
}

div.expand-min {
	margin: 0;
	padding: 0 12px 0 0;
	float: right;
}

div.expand-min input {
	margin: 0;
	padding: 0;
}

div.expand-min input.close-all {
	margin-left: 24px;
	}
	
div.expand-min ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	margin-left: 5px;
	}
	
div.expand-min ul li {
	margin: 0;
	padding: 0 12px 10px;
	float: left;
	display: block;
	height: 22px;
	background: url(../images/custom/vert-border.png) no-repeat left center;
	}	
	
div.expand-min ul li.first {
	background: none;
	padding: 0 12px 10px 0;
}

div.expand-min ul li a:hover{
	text-decoration: underline;
}


div.expand-min ul li img {
	border: 0 none;
	vertical-align: middle;
}


#resetGridSetting {
	height: 25px;
	line-height: 25px;	
}

#resetGridSetting:hover {
	text-decoration: underline;	
}


/* portlet container Styles END */
	
	
/* styles for crumbs, crumbs are not being used for phase 1	
	
div.portlet-crumbs {
	margin: 0 0 3px 0;
	background: #fbf6cf;
	clear: both;
	overflow: hidden;
	font-size: 12px;
}	

div.portlet-crumbs ul {
	margin: 0 0 0 11px;
	padding: 8px 0;
	float: left;
	list-style: none;
	}

div.portlet-crumbs ul li {
	margin: 0;
	padding: 0;
	float: left;
	}	
	
div.portlet-crumbs ul li a {
	margin: 0;
	padding: 0;
	color: #336699;
	text-decoration: none;
}	

*/


/* left nav styles START */

div.left-nav {
	font-size: 12px;
	margin: 0;
	padding: 5px 0 0 0;
	font-family: Arial,Verdana,sans-serif;
	width: 204px;
	color: #333;
	float: left;
	background: url(../images/custom/left-nav-bg.png) no-repeat top left;
}

* html div.left-nav {
	}

div.left-nav-inner {
	margin: 0;
	padding: 0;
	width: 193px;
	margin-left: 5px;
	text-align:left;
}

div.left-nav-footer {
	background: url(../images/custom/left-nav-footer.png) no-repeat bottom left;
	height: 6px;
	margin: 20px 0 0 0;
	padding: 0;
	}

div.left-nav-header {
	margin: 0;
	padding: 0;
	height: 25px;
	background: url(../images/custom/left-nav-header.png) repeat-x top left;
}

div.left-nav-header h3 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 25px;
	text-indent: 12px;
}

div.left-nav-inner ul.filters {
	display: block;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
	
}

div.left-nav-inner ul.filters li {

}

div.left-nav-inner ul.filters li a {
	background: url(../images/custom/left-nav-arrow.png) no-repeat 12px 12px;
	display: block;
	padding: 8px 0;
	padding-left: 20px;
	text-decoration: none;
	border-bottom: #999 1px dotted;
	color: #333;	
}

div.left-nav-inner ul.filters li.selected a {
	font-weight: bold;
	color: #cc3333;
}

div.left-nav-inner ul.filters li a:hover {
	text-decoration: underline;
}
	
/* left nav styles END */

/* detail page START */


div.sr-header {
	overflow: hidden;
	padding-bottom: 10px;
}

div.sr-bottom {
	padding-top: 20px;
}

div.sr-header div.header-right {
	float: right;
	padding-right: 20px;
	}

div.sr-header div.header-right div.generic-button {
	clear: both;
	margin-bottom: 10px;
	}

div.sr-header h2 {
	float: left;
	color: #333;
	font-weight: normal;	padding: 0 0 0 13px;
	margin: 0;
}

div.sr-header a.back {
	float: right;
	clear: both;
	font-size: 14px;
}
div.sr-header a.back:hover {
	text-decoration: underline;
}

div.columns {
	overflow: hidden;
	padding: 15px 10px;
	
}

div.columns div.first-column,div.columns div.second-column,div.columns div.third-column {
	float: left;
	width: 33%;
}

div.columns div.second-column,div.columns div.third-column {
	overflow: hidden;
	}

div.columns dl {
}
	
div.columns dt {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 13px;
	}	
	
div.columns dd {
	margin-bottom: 3px;
	}		

div.columns dd label {
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
	}
	
div.columns div.device {
	text-align: center;
	width: 180px;
	}	

/* detail page END */

/* status block START */

div.status-wrap {
	padding: 10px;
}

div.status-block {
	padding:15px 10px;
	overflow: hidden;
	border: #ccc 1px solid;
	margin-bottom: 3px;
}

div.status-block h4 {
	font-size: 14px;
	margin: 0;
	padding: 0 0 10px 0;
}

div.status-block h4 a {
	font-weight: normal;
}
	
div.status-block div.icon {
	float: left;
	margin:0 10px;
}

div.status-block div.status-bar {
	float: left;
	position: relative;
	top: 30px;
	left: 220px;
}

div.status-info {
	overflow: hidden;
	padding: 20px 0;
}


/* status block END */

/* styles from Templates END */

/* portlet border START */

div.portlet {
	overflow: hidden;
	font-size: 12px;
	margin:0 0 12px 0 !important;
	padding: 0;
	font-family: Arial,Verdana,sans-serif;
	background: url(../images/custom/portlet-borderleft.png) repeat-y top left;
}

div.portlet-topper {
	background: url(../images/custom/bg_off_customize.png)repeat;
	height: 30px;
	margin:0;
	padding: 0 !important;
	line-height: normal !important;
}
/*
div.portlet-topper-inner {
	background: url(../images/custom/portlet-topright.png) no-repeat top right;
	height: 30px;
	margin: 0;
	padding: 0;
}
*/

div.portlet-icons {
	margin: 3px 10px 0 0 !important;
}
div.portlet-content{
	margin: 0;
	background: url(../images/custom/portlet-borderright.png) repeat-y top right;
}

div.portlet-footer {
	margin: 0;
	padding: 0;
	clear: both;
	height: 5px;
	width: 100%;
	background: url(../images/custom/portlet-bottomleft.png) no-repeat bottom left;
}

* html div.portlet-footer { 
}

div.portlet-footer-inner {
	margin: 0;
	height: 5px;
	background: url(../images/custom/portlet-bottomright.png) no-repeat bottom right;
}	

* html div.portlet-footer-inner {
	padding: 5px 0 0 0;
	height: auto;
} 

/* portlet border END */

/* simple device Finder START */

div.simple-finder {
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

div.simple-finder span.input-field {
	display: block;
	margin: -4px 0 0 0;
	padding: 0 0 0 11px;
	height: 28px;
	float: left;
	background: transparent url(../images/custom/search-field-left.png) no-repeat top left;
}

div.simple-finder select,div.simple-finder span.input-field,div.simple-finder button {
	float: left;
	margin-right: 10px;
}

div.simple-finder button {
	margin-right: 0;
	cursor: pointer;
}

div.simple-finder span.input-field input {
	background: transparent url(../images/custom/search-field-right.png) no-repeat top right;
	border: 0 none;
	margin: 0;
	padding: 0;
	height: 28px;
	display: block;
	width: 300px;
	font-size:12px;
	font-family: Arial,Verdana,sans-serif;
}


/*-- edits --*/

/*
.button, .button:focus, .button:hover {
	cursor: pointer;
	padding:4px 7px;
	background-color: #286898;
	border: 0;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -pie-lazy-init:true;
   
    zoom:1;
    height:24px;
}
*/
.all_button {
	cursor: pointer;
	padding:4px 9px;
	background-color: #6495ED;
	border: 0;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -pie-lazy-init:true;
    zoom:1;
}

.star_button {
	cursor: pointer;
	padding: 4px 7px 4px 25px !important;
	margin: -2px 0 0 0;
	background-image: url(../images/custom/favorite.png);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	background-color: #CFE4FE;
	border: 0 !important;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -pie-lazy-init:true;
    zoom:1;
}

.table_button {
	float:left;
	cursor: pointer;
	border: 0;
	padding: 1px 0 !important;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
    display:block;
	text-align:center;
	background:url(../images/custom/grid_button.png) left top no-repeat !important;
	width:80px;
	height:24px;
	line-height:24px;
}

.grid_button {
	display:block;
	cursor: pointer;
	text-align:center;
	background:url(../images/custom/grid_button.gif) left top no-repeat;
	width:80px;
	height:23px;
	line-height:23px;
	border: 0;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}


.button_cancel, #loginCancelBtn {
	background-color: #FFFFFF;
    border: 1px solid #286898;
    color: #286898;
    text-decoration: none !important;
	cursor: pointer;
	padding:3px 8px;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -pie-lazy-init:true;
    zoom:1;
    height:24px;
}

#myFavoriteAddressesBtn, #accountAddressesBtn {
	margin: 0 5px 12px;
	text-transform: uppercase;
}

img.action {
	cursor: pointer;
	padding: 0 5px 0 0;
    position: relative;
    top: 5px;
}

.grey-bar {
	background-color: #d9d9d9;
	border: 1px solid #b6b6b6;
}	

.ev_light input[type="text"], .odd_light input[type="text"], #lfr-look-and-feel input[type="text"], #lfr-look-and-feel input[type="password"]{
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -pie-lazy-init:true;
    position: static !important;
	behavior: url(/LGS_Partner_Portal_Rebranded-theme/css/blank.htc) !important;
	background-color:#fff !important;
	border-top:1px solid #bfbfbf !important;
	border-left:1px solid #bfbfbf !important;
	border-bottom:1px solid #dedede !important;
	border-right:1px solid #dedede !important;
	zoom:1;
}

.hdrcell.filter{
	margin-right:5px;
}

#divEmployeeAccountSelection{
	margin-top:11px;
}

#divEmployeeAccountSelection input{
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -pie-lazy-init:true;
    position: static !important;
	behavior: url(/LGS_Partner_Portal_Rebranded-theme/css/blank.htc) !important;
	background-color:#fff !important;
	border: 0 !important;
	zoom:1;
}

.uni-form input[type="submit"] {
	cursor: pointer;
	padding:4px 7px;
	background-color: #286898;
	border: 0;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	background-image: none;
}

/* for login form */
.loginWrapper .loginName, .loginWrapper .loginPass {
	margin:0;
	padding:5px 7px;
	width:140px;
}


/*----- Fix for defect 1153  -----*/
.nestedTable .pad{
	height:20px !important;
}
/*----- End fix for defect 1153  -----*/



span.portlet-title {
	font-size: 12px !important;
	display: inline;
	line-height: 32px !important;
	width: auto !important;
	margin: 0;
	padding: 0 0 0 10px;
	color: #FFF;
	font-weight: bold;
}
#footer {
	background: none repeat scroll 0 0 #EBEBE4;
	border: #919191 1px solid;  
	height: 100%;	
	padding: 15px 20px;
	/* margin-top: 4px; */
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -pie-lazy-init:true;
    text-align:center;
    zoom:1;
}

#footer .language {
	background: url(../images/custom/footer_bg.png) no-repeat right top;
	padding: 8px 5px 2.5px;
	text-align: right;
}

#footer .language a {
	margin-right: 5px;
}

#globalSerachResultContainer .button{
	position: static !important;
	behavior: url(/LGS_Partner_Portal_Rebranded-theme/css/blank.htc) !important;
	width:auto; 
	height:24px;
	border:0; 
	cursor:pointer; 
	padding:0 8px 0 0; 
	text-align:center; 
	background:url(../images/custom/btn_blue.png) right no-repeat;
	font-size:11px;
	text-transform:uppercase;
	overflow:hidden;
	zoom:1;
}

#globalSerachResultContainer .button span { 
	display:block; 
	height:24px;
	line-height:24px;
	padding:0 0 0 8px;
	background:url(../images/custom/btn_blue.png) left no-repeat;
	color:#fff; 
	zoom:1;
}

.blueBtnCss {
	display:block;
	width:80px;
	height:23px;
	border:0;
	outline:0;
	margin:6px 0 0 0;
	padding:0 10px 0 0;
	background:none;
}
.blueBtnCss span { 
	display:block;
	cursor: pointer;
	text-align:center;
	background:url(../images/custom/grid_button.gif) left top no-repeat;
	width:80px;
	height:23px;
	line-height:23px;
	border: 0;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}

.journal-content-article{
	margin:2px 2px -11px 2px;
	position:relative;
	}

#noRecordFoundBtnTD .button{
	margin:35px 0 0 10px;
}

#noRecordFoundInputTD input{
	display:block;
	margin:16px 0;
}

.objbox table .rowselected td a, #formReportDefinitionDetail table tbody tr td a.selected {
	font-weight: bold !important;
	color: #000 !important;
}

.ui-dialog.ui-resizable .ui-dialog-content div.status-bar {
	left: 130px;
}

#contactContentTable #left {
	width:250px;
}

#contactContentTable #right {
	padding: 0 20px;
}

#rptAdminScdlMntnTitleBtns{
	padding:30px 20px 0px;
}

.inputMed{
	width:140px;
}

.inputLg{
	width:300px;
}

.inputXLg{
	width:579px;
}

.journal-content-article h2{
	z-index:1;
}

#footer-nav-ul li{
	display:none;	
}

#footer-nav-ul li.portal{
	display:inline;	
}

/*
.portlet div.portlet-topper-inner .portlet-title {
	_position: absolute;
	_top: 10px;
	_left: 0px;
}
 */

/*-- end edits --*/




/*-- Beging Partner Portal Specific Edits --*/
.hdrcell .combo .dhx_combo_box .dhx_combo_input{
	border:none;
	position: static !important;
	behavior: url(/LGS_Partner_Portal_Rebranded-theme/css/blank.htc) !important;
}
table.print {
	font-size:8px;
}
.dhx_header_cmenu{
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -pie-lazy-init:true;
    zoom:1;
}

#divCustomerInfo2InnerHTMLAccount{
	padding: 7px 0; /* spaces the input fields out so they aren't touching */
}

.required{
	color:red;	
}



/******** NEW BUTTON STYLES ********/	
/* GENERIC NEW BUTTON STYLES */	
.new_button, .new_cancel_button, .new_selected_button, .new_not_selected_button { 
	padding:0 10px 0 0;
	border:none;
	outline:none;
	height:24px;	
	font-size:11px;
	text-transform:uppercase;
	overflow:visible;
	cursor:pointer;
}
.new_button span, .new_cancel_button span, .new_selected_button span, .new_not_selected_button span {
	padding:5px 0 6px 10px;
	height:24px;
	cursor:pointer;
}

/******** NEW ANCHOR STYLES ********/
.button_anchor, .cancel_button_anchor, .selected_button_anchor, .not_selected_button_anchor, .selected_fav_button_anchor, .not_selected_fav_button_anchor{
	padding:0 10px 0 0;
	border:none;
	outline:none;
	height:23px;	
	line-height:23px;
	font-size:11px;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
}

.button_anchor span, .cancel_button_anchor span, .selected_button_anchor span, .not_selected_button_anchor span, .selected_fav_button_anchor span, .not_selected_fav_button_anchor span{
	padding:0 0 0 10px;
	height:23px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
}
.button_anchor a:active {
	font-weight:normal;
}
.button_anchor:active {
	font-weight:normal;
}

.selected_fav_button_anchor span, .not_selected_fav_button_anchor span{
	padding:0 0 0 25px;
}

/* BLUE BUTTON STYLES */
.new_button, .button_anchor { 
	background: transparent url(../images/custom/btn_blue.png) right no-repeat; 
	color:#fff; 
	padding: 0 12px 0 0;
	margin-left:10px;
}
.new_button:hover, .button_anchor:hover{ color:white; }
.new_button span, .button_anchor span {
	 background: transparent url(../images/custom/btn_blue.png) left no-repeat;
	 margin: 0 0 0 -10px;
	 padding: 0 0 0 12px;
}

/* CANCEL BUTTON STYLES */	
.new_cancel_button, .cancel_button_anchor { background: transparent url(../images/custom/btn_cancel.gif) right no-repeat; color:#286898; }
.new_cancel_button:hover, .cancel_button_anchor:hover{ color:#286898; }
.new_cancel_button span, .cancel_button_anchor span { background: transparent url(../images/custom/btn_cancel.gif) left no-repeat; }

/* ALL BUTTON (SELECTED) STYLES */	
.selected_button_anchor { background: transparent url(../images/custom/btn_blue.gif) right no-repeat; color:#fff; }
.selected_button_anchor:hover{ color:white; }
.selected_button_anchor span { background: transparent url(../images/custom/btn_blue.gif) left no-repeat; }

/* ALL BUTTON (NOT SELECTED) STYLES */	
.not_selected_button_anchor { background: transparent url(../images/custom/btn_not_selected.gif) right no-repeat; color:#286898; }
.not_selected_button_anchor:hover{ color:#286898; }
.not_selected_button_anchor span { background: transparent url(../images/custom/btn_not_selected.gif) left no-repeat; }

/* FAVORITE BUTTON (SELECTED) STYLES */	
.selected_fav_button_anchor { background: white url(../images/custom/btn_selected_fav.gif) right no-repeat; color:#fff; }
.selected_fav_button_anchor:hover{ color:white; }
.selected_fav_button_anchor span { background: transparent url(../images/custom/btn_selected_fav.gif) left no-repeat; }

/* FAVORITE BUTTON (NOT SELECTED) STYLES */	
.not_selected_fav_button_anchor { background: transparent url(../images/custom/btn_not_selected_fav.gif) right no-repeat; color:#286898; }
.not_selected_fav_button_anchor:hover{ color:#286898; }
.not_selected_fav_button_anchor span { background: transparent url(../images/custom/btn_not_selected_fav.gif) left no-repeat; }

/**************************Theme level changes********************************/
/******** Button Class *****/
.buttonContainer {
	text-align:right;
	padding:15px 0;
	margin-top:20px;
	border-top:1px dotted #aaa;
}

.buttonContainerIn {
	text-align:right;
	padding:0;
	margin:0;
	border:none;
	clear:left;
}
.left-nav .buttonContainerIn { padding:10px }
.inPortlet {
	padding:10px;
	margin-top:0;
	border-top:1px dotted #aaa;
	background:#fff;
	clear:both
}
.button, .button:focus, .button_cancel, .button_cancel:focus {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	min-width:50px;
	padding: .4em 1em .45em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border: solid 1px #0076a3;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-transform: uppercase;
	margin-right:5px;
	line-height:normal !important;
	color:#606060 !important;height:auto !important;
}
.ie .button, .ie .button:focus, .ie .gridbox .button, .ie .gridbox .button:focus {
	background: url(../images/custom/buttonBg.jpg) #0076a3 repeat-x 0px 0px;
}
.button, .button:focus, .gridbox .button, .gridbox .button:focus {color: #d9eef7;
	background: #00abea;
	background: -webkit-gradient(linear, left top, left bottom, from(#00abea), to(#0076a3));
	background: -moz-linear-gradient(top, #00abea, #0076a3);
}

.ie .button:hover, .ie .gridbox .button:hover {
	background: url(../images/custom/buttonBghover.jpg) #0094cb repeat-x 0px 0px;
}
.button:hover, .gridbox .button:hover {background: #0094cb;
	background: -webkit-gradient(linear, left top, left bottom, from(#0094cb), to(#00678e));
 	background: -moz-linear-gradient(top, #0094cb, #00678e); /* Changed by offshore */
}
.ie .button:active, .ie .gridbox .button:active, .bactive {
	background: url(../images/custom/buttonBgactive.jpg) #80bed6 repeat-x 0px 0px;
}
.button:active, .gridbox .button:active {color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0076a3), to(#00aced));
	background: -moz-linear-gradient(top, #0076a3, #00aced);
}
.ie .button_cancel, .ie .gridbox .button_cancel {
	background: url(../images/custom/cancelButtonBg.jpg) #fefefe repeat-x 0px 0px;
}
.button_cancel, .gridbox .button_cancel {color: #606060;height: auto !important;
	border: solid 1px #b7b7b7;
	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ededed));
	background: -moz-linear-gradient(top, #fefefe, #ededed);
}
.ie .button_cancel:hover, .ie .gridbox .button_cancel:hover {
	background: url(../images/custom/cancelButtonBghover.jpg) #dcdcdc repeat-x 0px 0px;
}
.button_cancel:hover, .gridbox .button_cancel:hover {background: #dcdcdc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background: -moz-linear-gradient(top, #fefefe, #dcdcdc);color:#606060 !important;
}
.ie .button_cancel:active, .ie .gridbox .button_cancel:active {
	background: url(../images/custom/cancelButtonBgactive.jpg) #999 repeat-x 0px 0px;
}
.button_cancel:active, .gridbox .button_cancel:active {color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fefefe));
	background: -moz-linear-gradient(top, #ededed, #fefefe);
}

.button:hover, .button_cancel:hover { text-decoration: none !important; }
.button:active, .button_cancel:active {position: relative;top: 1px;}
.disabled, .disabled:hover, .disabled:active {
	cursor: default;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border: solid 1px #999999;
	color: #d9eef7;
	background: #999999;
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999));
	background: -moz-linear-gradient(top, #cccccc, #999999);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999');
	top: 0px;
}
/*.gridbox .button, .gridbox .button:focus, .displayGrid .button, .displayGrid .button:focus {
	font: 11px/100% Arial, Helvetica, sans-serif;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	padding: .35em .7em .4em;
	margin:0;
}*/
.buttonContainer a{text-decoration: none !important;}
.buttonContainer a:hover{background: -webkit-gradient(linear, left top, left bottom, from(#0094cb), to(#00678e));
 	background: -moz-linear-gradient(top, #0094cb, #00678e);text-decoration: none !important;color:#FFF;}
.gridbox .button:focus {padding: .35em .7em .4em!important;}
	
/*fixes for extra padding on buttons in Firefox */
input::-moz-focus-inner, button::-moz-focus-inner {padding:0;border:0;}

.button, .button:focus, .button:hover {
	-moz-border-radius: 0.4em 0.4em 0.4em 0.4em  !important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #0076A3;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal !important;
    margin-right: 5px;
    min-width: 50px;
    outline: medium none;
    padding: 0.4em 1em 0.45em;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;color:#FFF !important;
}

/* DISPLAY GRIDS & TABLES */
.displayGrid { border-collapse:collapse;width:100%; }
.displayGrid tr th {
	font-weight:bold;
	background:url(../images/custom/bg_off_customize.png) repeat-x;
	height:0;
	padding:5px 10px;
	color:#FFF;
}
.displayGrid tr td {
	height:0;
	padding:5px;
	border-left:1px solid #ccc;
	background-color:#fff;
	vertical-align:top;
}

.columnInner {
	padding:5px 10px;
	overflow:hidden;
}
.rounded {
	border:1px #ccc solid;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
}
.shadow {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.portlet-header {
	background: url(../images/custom/bg_off_customize.png) repeat-x;
	height: 30px;
	margin: 0;
	padding: 0;}


div.portlet-header h3 {
	background-image:none;
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 30px;
	text-indent: 15px;
	color: #fff;
	font-weight: bold;
	}	
	
* html div.portlet-header h3 {	
	line-height: 30px;
}
div.portlet-topper {
	background:url(../images/custom/bg_off_customize.png) repeat-x;
	height: 30px;
	margin: 1px 0 0 0;
	padding: 0 !important;
	line-height: normal !important;
}

div.portlet-topper-inner {
	background-image:none;
	height: 30px;
	margin: 0;
	padding: 0;
}

/* PAGE BANNER */
.journal-content-article {
	clear:both;
	height:40px;
	margin:3px;
	border: solid 1px #286487;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	overflow:hidden;
	background-color:#3a7fa8;
}
.journal-content-article h2 {
	font-size:20px;
	color:#fff;
	font-weight:normal;
	display:inline-block;
	padding: 10px 40px 12px 10px;
	margin:0 10px 0 0;
	background:url(../images/custom/page_titlebg.png) no-repeat center right;
	float:left;
	width:auto;
}
.journal-content-article .step {
	font-size:20px;
	color:#fff;
	display:inline-block;
	padding:10px 0;
}
div.main-wrap { padding-top: 0; }
div.content { height:auto; }

/**************** Textbox property *********************/
input[type="text"], input[type="password"], input[type="date"], textarea, textarea.dhx_combo_edit {
	padding:4px!important;
	border-top:1px inset #bfbfbf;
	border-left:1px inset #bfbfbf;
	border-bottom:1px solid #dedede;
	border-right:1px solid #dedede;
	outline: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-left: 0px!important;
	width: 200px;
}
table.hdr input { margin-left:5px }
textarea {
	resize: none;
	margin-right:5px;
}
select {
	border-top:1px inset #bfbfbf;
	border-left:1px inset #bfbfbf;
	border-bottom:1px solid #dedede;
	border-right:1px solid #dedede;
	margin-left: 0px;
	margin-right: 5px;
}
.form select { width: 212px; }
.gridbox input[type="text"], .gridbox select, .displayGrid input[type="text"] { margin-right:0 }

/**************** FORM INPUT FIELDS HIGHLIGHT ********************/
input.ieFocusHack, input.focus, .form input:focus, .form input.ieFocusHack, textarea:focus, .form textarea:focus, .form textarea.ieFocusHack, .form select:focus, .form select.ieFocusHack, .displayGrid input:focus, .displayGrid input.ieFocusHack {
	background-color:lightyellow;
	border:2px #FC3 solid;
	padding:3px!important;
}
.radio input:focus, .radio input.ieFocusHack, .radio textarea:focus, .radio textarea.ieFocusHack, .radio select:focus, .radio select.ieFocusHack {
	background-color:transparent;
	border:0 none;
	padding:0!important;
}
.form select:focus, .form select.ieFocusHack { padding:0!important; }
.qtip { line-height:1.2em!important; }
/*************** ERROR MESSAGES *****************/
li.error label { font-weight:bold }
li.error input[type="text"], li.error input[type="password"], li.error select {
	border-top:1px inset #F00;
	border-left:1px inset #F00;
	border-bottom:1px solid #FCC;
	border-right:1px solid #FCC;
	background-color:#ffe9e9
}
div.error {
	color:#F00;
	border:2px #F00 solid;
	margin:0 5px 10px 5px;
	padding:5px 10px;
	overflow:hidden;
	background-color:#ffe9e9;
	list-style-type: none !important;/*By offshore, for error list */
}
div.error ul {
	margin: 0 15px;
	padding:0;
}

/* CUSTOMIZE COULMNS */
#grid_menu { display:none;padding:0px }
.dhx_header_cmenu ul {
	float: left;
	width: 180px;
	margin: 0 0 10px 0!important;
	padding: 0;
}
.dhx_header_cmenu ul li {
	clear:both;
	margin: 0;
	padding: 1px 0!important;
	list-style:none!important;
	background:none!important
}
.dhx_header_cmenu ul li label {
	display:inline-block;
	padding:0 0 0 10px!important;
	margin:0!important;
	background-image:none!important
}
.dhx_header_cmenu ul li input {
	float:left;
	margin:3px 3px 0 -10px;
}

/* Error textfield color */
.errorColor{
	background-color:#F8E0E0!important;
	border:2px #DF0101 solid!important;
	padding:3px!important;
}
.ev_light input[type="text"].errorColor, .odd_light input[type="text"].errorColor{
	background-color:#F8E0E0!important;
	border:2px #DF0101 solid!important;
	padding:3px!important;
}

/* Button Disable */
.button_disabled {
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.3)";
	filter: alpha(opacity=30);
}
.ie .button_disabled, .ie .gridbox .button_disabled {
background: url(../images/custom/disabledButton.jpg) #76bed6 repeat-x 0px 0px;
}
.ie .button_disabled:hover, .ie .gridbox .button_disabled:hover {
background: url(../images/custom/disabledButtonhover.jpg) #77b3cb repeat-x 0px 0px;
}

/**************Banner implemantation by Sathees****************/
div.left-nav-header {
	margin: 0;
	padding: 0;
	height: 25px;
	background: url(../images/custom/bg_off_customize.png) repeat-x ;
}

div.left-nav-header h3 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 25px;
	text-indent: 12px;
	color:#FFF;
}
/* DISPLAY GRIDS & TABLES */
.displayGrid { border-collapse:collapse;width:100% }
.displayGrid tr th {
	font-weight:bold;
	background:url(../images/custom/bg_off_customize.png) repeat-x;
	/*background: #d9e1ec;*/
	height:0;
	padding:4px 10px;
	color: #FFFFFF!important;
}
.displayGrid tr td {
	height:0;
	padding:5px;
	border-left:1px solid #ccc;
	background-color:#fff;
	vertical-align:top
}
.noBorder tr td { border:0 none; }
.displayGrid tr.altRow td { background-color:#f0f0f0 }
.displayGrid tr:hover td { background: #FFC; }
.displayGrid tr td img {
	display:inline-block;
	vertical-align: middle
}
.displayGrid ul.form {
	width:100%;
	margin:0;
}
.displayGrid ul.form li { padding-left:110px; }
.displayGrid ul.form li label {
	width:100px;
	margin-left:-110px;
}
.dhx_sub_row .displayGrid {
	border:1px solid #ccc;
	width:700px; /* set so that even at 1024 resolution, it's fully visible. Change to 95% if the #wrapper max width is being set.*/
	margin:10px auto 20px 20px; /* Chnage to "10px auto 20px" if width is set to 95%*/
}

/**************Customize grind menu********************/
.dhx_header_cmenu{
	background-color:#ffffff;
	position:absolute;
	z-index:2;
	text-align:left;
	width:auto;
   border:2px outset silver;
}

/* Added for new customize column UI */
.dhx_header_cmenu_item { white-space:nowrap;padding: 0px 5px;width:auto;float:left;}
.dhx_header_cmenu_item2 { white-space:nowrap;padding: 0px 5px;width:auto;clear:both;float:left;}
.dhx_header_cmenu h4, .h4 {
	color: #FFFFFF;
	font-size: 12px;
	font-weight:bold;
	height: auto;
	padding: 3px 10px!important;
	border-bottom:1px dotted #aaa;
	margin:0 0px 5px 0px;
	background:#5aa4d0 url(/LexmarkServicesPortal/images/bg_off_customize.png) repeat-x 0 0;
	/*background: #CEECF5;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF8FB), to(#A9D0F5));
	background: -moz-linear-gradient(top, #EFF8FB, #CEECF5);*/
}
.dhx_header_cmenu h4 a, .h4 a {
	float:right;
	font-weight:normal;
	color: #D9EEF7!important;
}

.error ul li{list-style-type:none !important;}
/************************Always at the end of the page****************************/
	
/*----- Fix for Defects #2313 -----*/
.columns, #gridCCSNotes, tr.contactsTD .scroll, .scroll {
	position:relative;
	width: 95%;
	padding: 15px 0px;
	overflow-x: auto;
	overflow-y: hidden;
	/*min-width: 1024px;
	max-width: 1300px;
	width: expression(this.width > 1300 ? 1300: true;*/
}
.scroll740 {
	position: relative;
	width: 740px;
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 735px;
	max-width: 740px;
	width: expression(this.width > 740 ? 740: true;
}

.scrollAdmin {
	position: relative;
	width: 800px;
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 800px;
	max-width: 820px;
	width: expression(this.width > 820 ? 820: true;
}
.NoResize {
    resize: none;
} 

/*------  Fix for Defect #2721 -----*/
#fileContent input[type="text"] {
	cursor: pointer;
}

/*----- Chrome Button fixes -----*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.uni-form input[type="submit"] {
		padding:2px 10px !important;
		}
}