.buttonContainer{float:right;width:100%;}
.buttonContainer {
	text-align:right;
	padding:15px 0;
	margin-top:20px;
	border-top:1px dotted #aaa;
}
.leftOverlay .columnInner .buttonContainerIn {
	position:absolute;
	bottom:10px;
	right:0;
	left:0;
	border-top:1px dotted #aaa;
	padding-top:10px
}
.buttonContainerIn .button_cancel, .buttonContainerIn .button {
	padding-left: .4em;
	padding-right: .4em;	
}
.left-nav .buttonContainerIn { padding:10px }
.buttonContainerIn {
	text-align:right;
	padding:0;
	margin:0;
	border:none;
	clear:left;
}
.columnsTwo {
	float:left;
	width:49.95%;
}
.columnsTwo a { color: #336699; }
.columnsTwo ul.form { width:100%; margin:0 }
.columnInner {
	padding:5px 10px;
	overflow:hidden;
}
.columnInnerTable {
/* 	margin-top:5px; */
	overflow: hidden;
	margin-left: 0px; 
}
.columnInnerTable table {
	width: 100%;
}
.columnInnerTable tr td {
	/*border-left: none;*/
}
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.button, .button:focus, .button_cancel, .button_cancel:focus {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	min-width:50px;
	padding: .4em 1em .45em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border: solid 1px #0076a3;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-transform: uppercase;
	margin-right:5px;
	line-height:normal !important;
}
.ie .button, .ie .button:focus, .ie .gridbox .button, .ie .gridbox .button:focus {
	background: url(/LexmarkOPSPortal/images/buttonBg.jpg) #0076a3 repeat-x 0px 0px;
}
.button, .button:focus, .gridbox .button, .gridbox .button:focus {color: #d9eef7;
	background: #00abea;
	background: -webkit-gradient(linear, left top, left bottom, from(#00abea), to(#0076a3));
	background: -moz-linear-gradient(top, #00abea, #0076a3);
}

.ie .button:hover, .ie .gridbox .button:hover {
	background: url(/LexmarkOPSPortal/images/buttonBghover.jpg) #0094cb repeat-x 0px 0px;
}
.button:hover, .gridbox .button:hover {background: #0094cb;
	background: -webkit-gradient(linear, left top, left bottom, from(#0094cb), to(#00678e));
 	background: -moz-linear-gradient(top, #0094cb, #00678e); /* Changed by offshore */
}
.ie .button:active, .ie .gridbox .button:active, .bactive {
	background: url(/LexmarkOPSPortal/images/buttonBgactive.jpg) #80bed6 repeat-x 0px 0px;
}
.button:active, .gridbox .button:active {color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0076a3), to(#00aced));
	background: -moz-linear-gradient(top, #0076a3, #00aced);
}
.ie .button_cancel, .ie .gridbox .button_cancel {
	background: url(/LexmarkOPSPortal/images/cancelButtonBg.jpg) #fefefe repeat-x 0px 0px;
}
.button_cancel, .gridbox .button_cancel {color: #606060;
	border: solid 1px #b7b7b7;
	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ededed));
	background: -moz-linear-gradient(top, #fefefe, #ededed);
}
.ie .button_cancel:hover, .ie .gridbox .button_cancel:hover {
	background: url(/LexmarkOPSPortal/images/cancelButtonBghover.jpg) #dcdcdc repeat-x 0px 0px;
}
.button_cancel:hover, .gridbox .button_cancel:hover {background: #dcdcdc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background: -moz-linear-gradient(top, #fefefe, #dcdcdc);
}
.ie .button_cancel:active, .ie .gridbox .button_cancel:active {
	background: url(/LexmarkOPSPortal/images/cancelButtonBgactive.jpg) #999 repeat-x 0px 0px;
}
.button_cancel:active, .gridbox .button_cancel:active {color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fefefe));
	background: -moz-linear-gradient(top, #ededed, #fefefe);
}

.button:hover, .button_cancel:hover { text-decoration: none; }
.button:active, .button_cancel:active {position: relative;top: 1px;}
.disabled, .disabled:hover, .disabled:active {
	cursor: default;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border: solid 1px #999999;
	color: #d9eef7;
	background: #999999;
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999));
	background: -moz-linear-gradient(top, #cccccc, #999999);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999');
	top: 0px;
}
.gridbox .button, .gridbox .button:focus, .displayGrid .button, .displayGrid .button:focus {
	font: 11px/100% Arial, Helvetica, sans-serif;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	padding: .35em .7em .4em;
	margin:0
}
/*
.button:focus{
	padding: .4em 1em .45em!important;
	border: solid 1px #0076a3!important;
}*/
.gridbox .button:focus {padding: .35em .7em .4em!important;}
	
/*fixes for extra padding on buttons in Firefox */
input::-moz-focus-inner, button::-moz-focus-inner {padding:0;border:0;}

/* LeftNav button */
.buttonContainerIn .button_cancel, .buttonContainerIn .button {
	padding-left: .4em;
	padding-right: .4em;	
}
.ui-dialog-titlebar { padding: .4em .5em .2em .5em!important }
.ui-dialog .ui-dialog-titlebar {
	background-color:#CCCCCC!important;
	color: #222222!important;
}