<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CreditCardAuthorize</display-name>
  <servlet>
    <servlet-name>CreditCardPayment</servlet-name>
    <servlet-class>com.lexmark.creditcard.CreditCardPayment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentAuthorize</servlet-name>
    <servlet-class>com.lexmark.creditcard.PaymentAuthorize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardPayment</servlet-name>
    <url-pattern>/CreditCardPayment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentAuthorize</servlet-name>
    <url-pattern>/paymentAuthorize</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/paymentAuthorize</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenerateCSToken</display-name>
    <servlet-name>GenerateCSToken</servlet-name>
    <servlet-class>com.lexmark.creditcard.GenerateCSToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCSToken</servlet-name>
    <url-pattern>/GenerateCSToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessCSResponse</display-name>
    <servlet-name>ProcessCSResponse</servlet-name>
    <servlet-class>com.lexmark.creditcard.ProcessCSResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessCSResponse</servlet-name>
    <url-pattern>/ProcessCSResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardTokenCall</display-name>
    <servlet-name>ForwardTokenCall</servlet-name>
    <servlet-class>com.lexmark.creditcard.ForwardTokenCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardTokenCall</servlet-name>
    <url-pattern>/ForwardTokenCall</url-pattern>
  </servlet-mapping>
</web-app>