.options{
display:none !important;
}
.multiSelectBody{
	width: 100%;
	display:inline-block;
	position:relative;
	vertical-align:middle;
}
.onlyDropdownMultiSelect .multiSelectBody {
    height: auto;
	width:85%;
}
.contentZone{
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:2px;
	display:block;
	height:21px;
	padding: 0 5px;
	line-height:21px;
	text-align:left;
	position:relative;
	width:100%;
}
.onlyDropdownMultiSelect .contentZone {
    display: none;
}
.placeholderContent{
	display: block;
    height: 100%;
    margin: 0 20px 0 0;
    overflow: hidden;
    position: absolute;
}
.dropimg{
	background-image: url('/LexmarkOPSPortal/images/multiselect/drop-up-down.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display:block;
	position:absolute;
	//margin:4px 0;
	right:0;
	color: transparent;
	vertical-align: top;
}
.up{
	background-position: 0px 0px;
}
.down{
	background-position: -20px 0px;
}
.dropZone{
	background-color:#fff;
	border:1px solid #ccc;
	position:absolute;
	top:-1;
	width:100%;
	z-index:1003;
	padding:0;
	overflow:hidden;
	display:none;
}
.onlyDropdownMultiSelect .dropZone {
    border: 0 none;
    display: block !important;
    height: 100%;
    position: relative;
}
.dropZone ul{
	max-height: 107px;
	margin:0;
	 padding-left: 5px !important;
    width: auto !important;
	list-style:outside none none;
	overflow:auto;
}
.onlyDropdownMultiSelect .dropZone ul {
    max-height: 100%;
}
.dropZone ul li{
width:100% !important;		
}
.listValue{
width:auto !important;
}
.dropZone input,.dropimg{
	cursor:pointer;
}
