<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>        
        <RollingFile name="REPORT_SCHEDULER" append="true"
             fileName="/webserver/liferay-portal-5.2.3/tomcat-6.0.18/logs/reportscheduler/submitNowReport.log"
             filePattern="/webserver/liferay-portal-5.2.3/tomcat-6.0.18/logs/reportscheduler/submitNowReport.%d{yyyy-MM-dd}.log">
             <PatternLayout pattern="%d [%t] %X %-5p %c - %m%n"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
             </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.web.portlet" level="warn"/>
        <Logger name="org.springframework.web.servlet.ViewRendererServlet" level="warn"/>
        <Logger name="org.apache.axis" level="warn"/>
        <Logger name="com.lexmark" level="debug"/>
        <Logger name="com.amind" level="error"/>
        <Logger name="com.lexmark.services.servlet.ObieeBridge" level="debug"/>
        <Logger name="data.com.amind" level="error"/>
        <Logger name="time.com.amind" level="error"/>       
	    <Root level="fatal">
	      <appender-ref ref="Console" />
       	  <appender-ref ref="REPORT_SCHEDULER" />
	    </Root>
	 </Loggers>
</Configuration>

