<?xml version="1.0" encoding="UTF-8"?>
<Configuration>  
	<Appenders>
	    <Console name="console" target="SYSTEM_OUT">
	      <PatternLayout pattern="[%t] %-5p %c - %m%n"/>
	    </Console>
	    <RollingFile name="file"
             fileName="log.txt"
             filePattern="log.txt">
             <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
             </Policies>
        </RollingFile>
        <!-- <Async name="PERFORMANCELOG">
	      <AppenderRef ref="PLOG-FILE"/>
	    </Async> -->
	 </Appenders>
    <Loggers>
        <Logger name="parser" level="warn"/>
        <Logger name="web.AJAXCatalogServlet" level="info"/>
        <Logger name="org.apache.axis" level="warn"/>
        <Logger name="com.lexmark" level="debug"/>
        <Logger name="com.mchange" level="info"/>
        <Logger name="org.apache.commons.httpclient" level="info"/>
        <Logger name="httpclient.wire.content" level="info"/>
	    <Root level="debug">
	      <appender-ref ref="console" />
	      <appender-ref ref="file" />
	    </Root>
	 </Loggers>
    </Configuration>
 